In [841]:
import pandas as pd

In [842]:
train_data = pd.read_csv('salary_train.csv', header=0, sep=',')

train_data.head(3)

,Id,algebra,programming,data science,robotics,economics,job,salary
0,0,87,62,86,61,90,junior developer,140000
1,1,76,84,76,80,79,data scientist,780000
2,2,56,55,99,82,98,developer,210000

In [843]:
train_data.salary.min()

90000

In [844]:
train_data.salary.max()

1350000

In [845]:
# predict_data = pd.read_csv('salary_predict.csv', header=0, sep=',')

# predict_data.head(3)

In [846]:
# проверяю наличие nan
assert train_data.isna().sum().sum() == 0
# assert predict_data.isna().sum().sum() == 0

In [847]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            9000 non-null   int64
 1   algebra       9000 non-null   int64
 2   programming   9000 non-null   int64
 3   data science  9000 non-null   int64
 4   robotics      9000 non-null   int64
 5   economics     9000 non-null   int64
 6   job           9000 non-null   object
 7   salary        9000 non-null   int64
dtypes: int64(7), object(1)
memory usage: 562.6+ KB

In [848]:
# predict_data.info()

In [849]:
# заменяю наименования должностей на категорию
train_jobs = train_data.job.unique()
# predict_jobs = predict_data.job.unique()

# assert len(train_jobs) == len(predict_jobs)
#
# for job in train_jobs:
#     assert job in predict_jobs

jobs_dict = dict(zip(train_jobs, range(1, len(train_jobs) + 1)))

train_data['job_category'] = train_data.job.map(jobs_dict)
# predict_data['job_category'] = predict_data.job.map(jobs_dict)

In [850]:
train_data.drop(train_data.job.name, axis=1, inplace=True)
train_data.drop(train_data.Id.name, axis=1, inplace=True)

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   algebra       9000 non-null   int64
 1   programming   9000 non-null   int64
 2   data science  9000 non-null   int64
 3   robotics      9000 non-null   int64
 4   economics     9000 non-null   int64
 5   salary        9000 non-null   int64
 6   job_category  9000 non-null   int64
dtypes: int64(7)
memory usage: 492.3 KB

In [851]:
# predict_data.drop(predict_data.job.name, axis=1, inplace=True)
# ids = predict_data.Id
# predict_data.drop(predict_data.Id.name, axis=1, inplace=True)

# predict_data.info()

In [852]:
# разбиваю данные на X & y

X_train = train_data.drop(train_data.salary.name, axis=1)
y_train = train_data.salary

# X_predict = predict_data.drop(predict_data.salary.name, axis=1)

In [853]:
X_train.head(3)

   algebra  programming  data science  robotics  economics  job_category
0       87           62            86        61         90             1
1       76           84            76        80         79             2
2       56           55            99        82         98             3

In [854]:
# X_predict.head(3)

In [855]:
y_train.head(3)

0    140000
1    780000
2    210000
Name: salary, dtype: int64

In [856]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X, X_test, y, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_jobs=-1)
model.fit(X, y)

RandomForestRegressor(n_jobs=-1)

In [857]:
from sklearn.metrics import mean_absolute_error
y_pred = model.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred)
mae_rf

39444.27777777778

In [858]:
# # особо не парился с выбором модели, RandomForestRegressor подойдет
#
# from sklearn.ensemble import RandomForestRegressor
#
# model = RandomForestRegressor(n_jobs=-1)
# model.fit(X_train, y_train)
#

In [859]:
# y_predict = pd.DataFrame(ids)
# y_predict['salary'] = model.predict(X_predict)
# y_predict.loc[y_predict.salary > 1000000, y_predict.salary.name] = 1000000
#
# y_predict.to_csv('salary_submition.csv', sep=',', header=True, index=False)
#
# y_predict